<h1>Listing Events</h1>

<h3>Search Events by Tag</h3>
  <div>
    <% tag_cloud Event.tag_counts, %w{smallest-tag small-tag medium-tag large-tag} do |tag, size_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: size_class %>
    <% end %>
  </div>

  <h3>Search Events by Title</h3>
    <section class="search-form">
      <%= form_for :events, method: :get do |f| %>
        <div class="input-group input-group-lg">
          <%= label_tag :keywords, nil, class: "sr-only" %>
          <%= text_field_tag :keywords, nil, placeholder: "Search events by title",
                                             class: "form-control input-lg" %>
          <span class="input-group-btn">
            <%= submit_tag "Filter Events", class: "btn btn-success btn-lg" %>
          </span>
        </div>
      <% end %>
    </section>

    

<br>

<%= link_to 'New Event', new_event_path %>
