<%= render partial: 'header' %>

  <h1 id="search-events-header">Search Events</h1>

  <%= render partial: 'search_events' %>

  <%= render partial: 'search_results' %>

  <%= render partial: 'tag_cloud_sidebar' %>

  <%= render partial: 'footer' %>
