<%= render partial: 'header.html.erb' %>

<h1>Listing Events</h1>

  <div>
    <% tag_cloud Event.tag_counts, %w{smallest-tag small-tag medium-tag large-tag} do |tag, size_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: size_class %>
    <% end %>
  </div>

  <%= render partial: 'search_events.html.erb' %>

  <%= render partial: 'search_results.html.erb' %>

<br>

<%= link_to 'New Event', new_event_path %>
