<h1>Displaying Your Organized Events</h1>

<% @my_events.each do |event| %>
<h3><%= event.title %></h3>
  <label>Start Date:</label>
    <%= l event.start_date, format: :date_format %>
  <label>End Date:</label>
    <%= l event.end_date, format: :date_format %>
  <label>Location</label>
    <%= event.location %><br />
  <label>Address:</label>
    <%= event.address %><br />
  <label>Agenda:</label>
    <%= event.agenda %><br />
  <label>Organized By:</label>
    <%= event.owner %><br />
  <%= image_tag avatar_url(event.owner) %><br />
  <%= event.owner_email %><br />

  <h4>Tags:</h4>
  <%= raw tag_links(event.all_tags) %></br>

  <%= link_to 'Show Details', event %>
  <% if event.organizer_id == current_user.id %>
  <%= link_to 'Edit', edit_event_path(event) %>
  <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<%= render partial: "tag_cloud.html.erb" %>

<%= link_to 'Create an Event', new_event_path %>
